<%= content_for :head, auto_discovery_link_tag(:rss, posts_url(format: "rss")) %>

<%= stylesheet_link_tag "theme" %>
<%= stylesheet_link_tag "udt_media_queries" %>

<% content_for :head do %>
  <%= stylesheet_link_tag "theme" %>
<% end %> 

<%= render 'shared/header' %>

<% @posts.each do |post| %>

  <div id="content-wrapper">
  <section class="pages clearfix">

    <div class="content-inner-left"> 
    
      <article class="blog-post">
      <div class="blog-post-content">
      
           <div class="blog-post-featured-media">
             <div class="thumb">
               <%= image_tag post.image_url(:thumb).to_s if post.image.present? %>
             </div>    
           </div> 
           
           <h2 class="blog-post-title">
            <%=  post.title %><br /> 
           </h2>
           <br />  
           <p class="blog-post-text" style="font-size: 14px;">  
             <%=  raw(truncate(post.desc, :length => 675)) %><br /><br />
             <%=  link_to "Zobacz więcej &raquo;".html_safe, blog_view_path(post) %><br /><br />  
           </p> 
             
      </div>
      </article>   
        
    </div>  
      
  </section>  
  </div>  
    
    
<% end %>

