<%= render 'shared/header' %>

<%= stylesheet_link_tag "theme" %>
<%= stylesheet_link_tag "udt_media_queries" %>

<div id="content-wrapper">
  <section class="pages clearfix">

    <!--start section title-->

    <!--start content left-->
    <div class="content-inner-left">

      <article class="blog-post">
          
        <div class="blog-post-content">      
    
          <div class="blog-post-main-image">
            <%= image_tag @post.image_url(:thumb).to_s if @post.image.present? %>
          </div>  
          
          <h2 class="blog-post-title">
          <%= raw(@post.title) %>
          </h2>
          
          <br />
          
          <p class="blog-post-text">
          <%= @post.desc.html_safe %>
          </p>
            
      <div id="comment-wrapper">
  			<div id="disqus_thread"></div>
  			
        <script type="text/javascript">
  
      				var disqus_shortname = 'ws-blog212334'; 
  
     					 (function() {
          				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      					})();
    
  			</script>
		 </div>	
          
        </div>    
          
      </article> 
          
     </div>      
          
  </section>
</div>  