<%= render 'shared/header' %>

<%= stylesheet_link_tag "theme" %>
<%= stylesheet_link_tag "udt_media_queries" %>
<%= stylesheet_link_tag "scaffolds" %>

<div id="content-wrapper">
  <section class="pages clearfix">

    <div class="content-inner-left"> 
    
      <article class="blog-post">
      <div class="blog-post-content">

        <p class="contact"><%= t('.contact_us') %></p><br />
        
<%= form_for @contact, :url => contacts_path, :html => {:class => 'formtastic'} do |f| %>
  <% if ContactUs.require_name %>
        <span class="contact-label"><%= f.label :name, (t('.name') + content_tag(:abbr, '', :class => 'required')).html_safe %></span>
      <%= f.text_field :name %>
      <% if f.object.errors[:name].present? %>
        <p class='inline-error'><%= f.object.errors[:name].join(' and ') %></p>
      <% end %>
  <% end %>
  
  <div class="contact-block">      
    <span class="contact-label"><%= f.label :email, (t('.email') + content_tag(:abbr, '', :class => 'required')).html_safe %></span>
    <%= f.text_field :email %>
    <% if f.object.errors[:email].present? %>
      <p class='inline-error'><%= f.object.errors[:email].join(' and ') %></p>
    <% end %>
  </div>
    
  <% if ContactUs.require_subject %>
    
      <%= f.label :subject, (t('.subject') + content_tag(:abbr, :class => 'required')).html_safe %>
      <%= f.text_field :subject %>
      <% if f.object.errors[:subject].present? %>
        <p class='inline-error'><%= f.object.errors[:subject].join(' and ') %></p>
      <% end %>
    
  <% end %>
  
  <div class="contact-block">      
    <span class="contact-label"><%= f.label :message, (t('.message') + content_tag(:abbr, '', :class => 'required')).html_safe %></span>
    <%= f.text_area :message %>
    <% if f.object.errors[:message].present? %>
      <p class='inline-error'><%= f.object.errors[:message].join(' and ') %></p>
    <% end %>
  </div>
        
        
  
  <%= f.submit :submit, :alt => t('.submit'), :class => 'submit-create', :label => t('.submit'), :title => t('.submit') %>
  
<% end %>

        </div>
        <article>
        </div>
        
        </selection>
        </div>
